<script>
function apagar(id){

      const xhr = new XMLHttpRequest();
            xhr.open("DELETE", "/del/"+ id);
            xhr.responseType = "json";
            xhr.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        
                    } else {
                        console.error("Erro ao pedir contacto ao servidor.");
                    }
                }
            };
            xhr.send();
            window.location.replace("/");
}


</script>

<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
<main>
<table id="customers">

<tr>
<td>id</td>
<td>Nome</td>
<td>Email</td>
<td>Rating</td>
<td>NotasAdicionais</td>
<td>ReviewLimpeza</td>
<td>ReviewEspaco</td>
<td>ReviewNormasDGS</td>
<td>ReviewDS</td>
<td>TotalReviews</td>
<td>Latitude</td>
<td>Longitude</td>
<td> apagar</td>

<tr>

{{#items}}
<tr>
<td>{{id}}</td>
<td>{{Nome}}</td>
<td>{{Email}}</td>
<td>{{Rating}}</td>
<td>{{NotasAdicionais}}</td>
<td>{{ReviewLimpeza}}</td>
<td>{{ReviewEspaco}}</td>
<td>{{ReviewNormasDGS}}</td>
<td>{{ReviewDS}}</td>
<td>{{TotalReviews}}</td>
<td>{{Latitude}}</td>
<td>{{Longitude}}</td>
<td><button onclick="apagar({{id}})">Apagar</button></td>
</tr>
{{/items}}
</table>
</main>
